* {
    text-align: center;
}

body {
    background-color: yellow;
}

#numberBox {
    height: 50vmin;
    width: 50vmin;
    font-size: 10vmin;
    text-align: center;
    border-radius: 35vmin;
    border-color: red;
    border-width: 2vmin;
    outline: none;
}

#btn {
    height: 5vmin;
    width: 25vmin;
    background-color: red;
    border-color: white;
    border-radius: 2vmin;
    border-width: .5vmin;
    color: white;
    outline: none;
}